<?xml version="1.0" encoding="UTF-8"?>


<web-app>

<context-param>
<param-name>age</param-name>
<param-value>33</param-value>
</context-param>
<context-param>
<param-name>name</param-name>
<param-value>dastan</param-value>
</context-param>


<servlet>
<servlet-name>newServlet1</servlet-name>
<servlet-class>test.newServlet1</servlet-class>
<init-param>
<param-name>new</param-name>
<param-value>33</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>newServlet1</servlet-name>
<url-pattern>/show</url-pattern>

</servlet-mapping>



</web-app>