<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           
           <bean id="c1" class="sbeans.Book">
           <constructor-arg name="title" value="The Alchemist"/>
           <constructor-arg name="isbn" value="978-0062315007"/>
           <constructor-arg name="pageCount" value="208"/>
           </bean>
           
           </beans>